# Raw and processed data files
Data/*
dataProcessing/*
!Data/data_goes_here.txt
!dataProcessing/processed_data_goes_here.txt
*.png
*.tif
*.tiff
*.mat

# Various temporary files
*._*

# Compressed files
*.zip

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~




# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Octave session info
octave-workspace
